[Desktop Entry]
Version=1.0
Name=LiteGenX Core
Comment=LiteGenX P2P Cryptocurrency
Comment[fr]=LiteGenX, monnaie virtuelle cryptographique pair à pair
Comment[tr]=LiteGenX, eşten eşe kriptografik sanal para birimi
Exec=litegenx-qt %u
Terminal=false
Type=Application
Icon=litegenx128
MimeType=x-scheme-handler/litegenx;
Categories=Office;Finance;
StartupWMClass=Pivx-qt
