# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=LiteGenX Core
Comment=LiteGenX Core QT test network
GenericName=LiteGenX Digital Currency QT client testnet network
Exec=litegenx-core.qt-testnet %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/litegenx_testnet.png
MimeType=x-scheme-handler/piv;
Categories=X-Office;X-Finance;
Keywords=internet;litegenx;zpiv;tpiv;core;wallet;qt;testnet;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
